<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /evriskosys/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /evriskosys/index.php [L]
</IfModule>
